@font-face{
  font-family: 'RobotoMono';
  src: url("./fonts/RobotoMono-Thin.ttf");
}

*{
  font-family: 'RobotoMono','monospace';
}
body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: red;
  /*background: radial-gradient( circle 867px at -5.8% 1.8%,  rgba(255,255,255,1) 0%, rgba(7,0,216,1) 100.3% );*/
  background: linear-gradient( 180.3deg,  rgba(214,224,255,1) 37.2%, rgba(254,168,168,1) 137.3% );
}